.homeouterdiv{
    width:100vw;
    height:45vw;
    }
    
    .homeheading{
        /* border:1px solid black; */
        width:50%;
        height:60%;
        position:absolute;
        left:25%;
        top:25%;
    }
    .homeheading h1{
       color:red;
        font-size: 500%;
        
    }
    .homeheading pre{
        color:yellow;
        font-size: 130%;
          font-weight: bolder;  
     }
    
     .homeheading button{
        font-weight: bold;
        color:white;
        background-color: orangered;
       border:none;
        border-radius: 10%;
        height:50px;
        width:150px;
     }
     
     .carousel-control-prev,
    .carousel-control-next {
      display: none !important; 
    }