.bodydiv{
    padding:0px;
    margin:0px;
    color: orangered;
    }
    video{
       width:100vw;
       height:89vh;
       object-fit: cover;
       z-index: -1;
    }
    .formdiv{
       
       z-index: 1;
       position:absolute;
       object-position: center;
       top:20%; 
       left:40%;
    }
    .loginbox{
       background-color: hsla(0,0%,10%,1);
       
       width:28vw;
       height:60vh;
       display:flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: center;
      
    margin-inline: 1.5rem;
       padding:1.5rem 2.5rem;
       border-radius: 1rem;
    }
    .loginbox h1{
    /* border:1px solid blue; */
    font-size: 40px;
    
    }
    .loginbox label{
       /* border:1px solid red; */
       width:20%;
       height:5%;
       font-size: larger;
    }
    .inputs{
       /* border:1px solid yellow; */
       background-color: hsla(0,0%,10%,0.5);
       display:flex;
       justify-content: flex-end;
       width:100%;
       height:11%;
       text-decoration: none;
    }
    .inputs image{
       border:1px solid red;
       display:flex;
       justify-content: flex-start;
       background-color: hsla(0,0%,10%,0.5);
       width:11%;
       height:90%;
       z-index: 2;
    
    }
    .inputs input{
       background-color: hsla(0,0%,10%,0.5);
       color:red;
       width:87%;
       height:92%;
       font-size: 100%;
       border-radius: 8px;
       text-decoration: none;
    }
    #buttons{
       border:1px solid white;
       background-color: hsla(0,0%,10%,1);
       width:50%;
       height:11%;
       color:aliceblue;
       font-size: x-large;
   
    }