.outerdiv {
    position: relative; 
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    background-color:orangered;
    overflow: hidden; 
}

.outerdiv video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: absolute; 
    top: 0;
    left: 0;
}

.inner1,
.inner2 {
    position: relative; 
    width: 100%; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20%;
}

.inner1 {
    background-color: hsla(0, 0%, 10%, 0.0);
    z-index: 1; 
    display:flex;
    justify-content: space-around;
}
 .inner1 h1{
    color:white;
    
}
.inner1 img{
    height:100%;
    width:30%;
}

.inner2 {
    background-color: hsla(0, 0%, 10%, 0.0);
    z-index: 1; 
}

.inner2 h5{
    color:white;
} 
/* .inner2 h5:hover{
    color:red;
    font-size: x-large;
    box-shadow: 15% 5% 5% 5%;
} */