.bodydiv{
    padding:0px;
margin:0px;
color: orangered;
}
.regouterdiv{
    /* border:4px solid red; */
    height:88vh;
    width:100vw;
}
.regouterdiv video{
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: -1;
 }
.regformhead{
    background-color: hsla(0,0%,10%,1);
    border:1px solid red;
    height:70vh;
    width:50vw;
    z-index: 1;
   position:absolute;
   object-position: center;
   top:20%; 
   left:27%;
   border-radius: 1rem;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    padding:10% 0 10% 0 ;
}
.regformhead h1{
    display: flex;
    justify-content: center;
}
.regformhead Link p{
    color:white;
    text-decoration: none;
}
.regformdiv{
    padding:2% 5%;
}
.regformdiv Input{
    background-color: hsla(0,0%,10%,1);
    color:white;
}
.regformdiv Button{
    background-color: hsla(0,0%,10%,1);
    color:white;
    width:60%;
    font-size: x-large;
    margin-left:20% ;
}